{% extends 'base.html' %} {% load static %} {% block conteudo %}
<section class="min-h-screen flex justify-center items-center">
  <div class="flex-col">
    <form id="cep-form" class="flex justify-center items-center gap-1">
      {% csrf_token %}
      <input
        type="text"
        name="cep"
        placeholder="Digite o CEP"
        required
        class="py-1.5 w-44 focus:outline-red-200 pl-3 rounded-l-full shadow-lg"
      />
      <button
        type="submit"
        class="bg-green-400 hover:bg-green-500 duration-700 font-semibold lg:text-lg md:text-base text-sm text-white rounded-r-full shadow-lg py-1.5 lg:py-1 md:py-1 px-6"
      >
        Consultar
      </button>
    </form>
    <div id="result" class="bg-white text-center p-3 rounded-lg shadow-lg mt-4">
      <!-- Aqui serão exibidos os dados do CEP -->
    </div>
  </div>
</section>
{% endblock %}
